{
  "extends": "prettier",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "plugins": ["prettier"],
  "globals": {
    "step": false,
    "expect": false
  },
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "parser": "babel-eslint",
  "rules": {
    "prettier/prettier": ["error", { "singleQuote": true, "semi": false }],
    "no-multiple-empty-lines": 2
  }
}
